{% extends 'base.html' %}

{% block content %}

<h1>{{ title }}</h1>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!--{{ form.as_p }}-->
<!--form.as_p отображение полей с тегом <p></p> формы из модуля forms-->
<!--form.as_ul отображение полей с тегом <ul></ul>-->
<!--form.as_table отображение полей с тегом <table></table> в виде таблицы-->
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
<!--отображение полей из класса AddPostForm путём перебора циклом for-->
        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p><button type="submit">Отправить</button></p>

</form>

{% endblock %}
